name: CI

on:
    push:
        branches:
            - main
    pull_request:
        branches:
            - main
    workflow_dispatch:

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v6

            - name: Set up Rust
              uses: actions-rs/toolchain@v1
              with:
                  profile: minimal

            - name: Run formatter check
              run: cargo fmt -- --check

            - name: Run linter
              run: cargo clippy --all-targets --all-features

            - name: Build Rust project
              run: cargo build --release

            - name: Run tests
              run: cargo test --release
